*{
    align-self: auto;
    text-align: center;
    background-color: pink;
}

.main{
    align-content: center;
    align-self: center;
}
.para{
    align-self: auto;
    display: block;
    border-style: solid;
    border-color: black;
}

button:active{
    transform: scale(0.98);
}

button:focus{
    outline: none;
}